[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/rest_client"]
	path = modules/rest_client
	url = https://github.com/sheatrevor/kohana_rest_client.git
[submodule "modules/xml"]
	path = modules/xml
	url = https://github.com/ccazette/Kohana_XML.git
[submodule "template/shared/jquery.ui.spinner"]
	path = template/shared/jquery.ui.spinner
	url = https://github.com/btburnett3/jquery.ui.spinner.git
